<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767973534786-5fdb2aut1u789p2hahsgutgogvgdoaii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767973534786-5fdb2aut1u789p2hahsgutgogvgdoaii</string>
	<key>API_KEY</key>
	<string>AIzaSyD9rZxKtKpYPFuFY8-Ojd063GHLIUbcsIk</string>
	<key>GCM_SENDER_ID</key>
	<string>767973534786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selahattinhayzaran.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-57013</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-57013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767973534786:ios:c3fa4372a58a67e20d11db</string>
</dict>
</plist>